/* Neo_Chen's CSS stylesheet 
 *
 * Released to public domain
 */
html {
	font-family: monospace;
	font-size:12pt;
	border-width: 4pt;
	border-style: solid;
	background-color:#c0c0c0;
	color:black;
}

body {
	background-color:#c0c0c0;
	color:black;
}

h1 {
	font-family: Times, serif;
	font-size:36pt;
	text-align: center;
	color:#000000;
	border-style: solid;
	border-width: 1pt;
	background-color:#008;
	color:#fff
}

h2 {
	font-family: Times, serif;
	font-size:20pt;
	text-align: left;
	color:#000000;
	border-style: solid;
	border-width: 1pt;
	background-color:#808080;
	color:#fff
}

.mono, code {
	font-family: monospace;
	font-size:12pt;
	background-color: #fff;
}

.msrf {
	font-family: Courier,mono;
	font-size:9pt;
}


.srf, p {
	font-family: serif;
	font-size:12pt;
}

.srfb {
	font-family: Times,serif;
	font-size:18pt;
}

.srfb {
	font-family: Times,serif;
	font-size:18pt;
}

a:link {
	color: #008;
}

a:visited {
	color: #808;
}

a:hover {
	color: #000;
	background-color: #fff;
}

a:active {
	color: #088;
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	font-family: monospace;
	font-size:12pt;
}

.pre {
	white-space: pre;
	border-style: solid;
	border-width: 2px;
}

img {
	max-width: 100vw;
}
